<div class="flex flex-col text-justify ml-80 mr-80">
    <h1 class="text-center mt-10"><b>Terms and Conditions for Nnet - Nebougrhood Social Media App</b></h1><br><br>
    <p><i><b>Last updated: 06-18-2023</b></i></p><br>
    <p>Welcome to Nnet, the Nebougrhood social media app! Before using our platform, please take a moment to read and understand our terms and conditions. 
        By accessing or using Nnet, you agree to be bound by these terms. If you do not agree with any part of these terms, please refrain from using our services.</p><br>
    <ol class="ml-16">
        <li>
            <h2><b>Acceptance of Terms</b></h2>
            <ol class="ml-16">
                <li>By accessing Nnet, you acknowledge that you have read, understood, and agree to abide by these terms and conditions. </li>
                <li>Nnet reserves the right to modify, update, or remove any part of these terms at any time. It is your responsibility to review these terms periodically for any changes.</li>
            </ol>
        </li>

        <li>
            <h2><b>User Eligibility</b></h2>
            <ol class="ml-16">
                <li> Nnet is intended for users who are at least 13 years old. If you are below the age of 13, 
                    you may only use Nnet under the supervision of a parent or legal guardian. </li>
                <li>  You must provide accurate and truthful information when creating your Nnet account.</li>
            </ol>
        </li>

        <li>
            <h2><b>User Conduct</b></h2>
            <ol class="ml-16">
                <li> You are solely responsible for your use of Nnet and any content you post or share on the platform. </li>
                <li>You agree not to engage in any activity that may:</li>
                    <ul>
                        <li>Violate any applicable laws or regulations. </li>
                        <li> Infringe upon the rights of others, including their privacy, intellectual property, or other proprietary rights.</li>
                        <li> Promote or engage in any form of harassment, hate speech, or abusive behavior. </li>
                        <li> Disrupt the normal functioning of Nnet or impair the experience of other users.</li>
                        <li> Upload or transmit any viruses, malware, or harmful code.</li>
                        <li> Use Nnet for any commercial or promotional purposes without prior written consent from Nnet.</li>
                    </ul>
            </ol>
        </li>

        <li>
            <h2><b>Content Ownership and Intellectual Property</b></h2>
            <ol class="ml-16">
                <li>By posting or sharing content on Nnet, you retain ownership of your content. However, you grant Nnet a worldwide, non-exclusive, 
                    royalty-free license to use, reproduce, modify, adapt, publish, translate, and distribute your content for the purpose of operating and promoting Nnet.</li>
                <li>Nnet respects the intellectual property rights of others. If you believe that your intellectual property has been infringed upon, please contact us promptly with relevant details.</li>
                <li></li>
            </ol>
        </li>

        <li>
            <h2><b>Privacy</b></h2>
            <ol class="ml-16">
                <li> Nnet values your privacy and handles your personal information in accordance with our Privacy Policy, which is available on our website.</li>
                <li> By using Nnet, you consent to the collection, use, and disclosure of your personal information as outlined in our Privacy Policy.</li>
            </ol>
        </li>

        <li>
            <h2><b>Limitation of Liability</b></h2>
            <ol class="ml-16">
                <li> Nnet strives to provide accurate and reliable information, but we do not guarantee the accuracy, completeness, or reliability of any content on the platform.</li>
                <li> Nnet shall not be liable for any direct, indirect, incidental, consequential, or special damages arising out of or in connection with your use of Nnet or reliance on any content available on the platform.</li>
            </ol>
        </li>

        <li>
            <h2><b>Termination</b></h2>
            <ol class="ml-16">
                <li> Nnet reserves the right to suspend or terminate your access to the platform at any time for any reason, without prior notice.</li>
                <li> You may also terminate your account at any time by following the instructions provided on Nnet.</li>
            </ol>
        </li>

        <li>
            <h2><b>Governing Law</b></h2>
            <ol class="ml-16">
                <li>These terms and conditions shall be governed by and construed in accordance with the laws of [Jurisdiction]. 
                    Any disputes arising from these terms shall be subject to the exclusive jurisdiction of the courts in [Jurisdiction].</li>
            </ol>
        </li>

    </ol>
    <p> We hope you enjoy using Nnet! If you have any questions or concerns about these terms and conditions, please contuct us with information provided in the about us page.</p>
    <br><br><br><br><br><br><br><br>
</div>
