<nav class="flex justify-between px-20 py-5 shadow-xl items-center">
    <ul>
        <h1> Nnet </h1>
    </ul>
    <ul class="flex gap-5 items-center">
        <li class="hover:underline hover:underline-offset-4"> <a routerLink="/"> Home </a> </li>
        <button routerLink="/login" class="bg-blue-500 px-3 py-1 text-white rounded-md shadow-xl transi hover: ease-out hover:scale-110 duration-300"> Login </button>
        <button routerLink="/register" class="bg-green-500 px-3 py-1 text-white rounded-md shadow-xl transi hover: ease-out hover:scale-110 duration-300"> Sign-up </button>
    </ul>
</nav>
