<div class="flex flex-col text-justify ml-80 mr-80">

    <h1 class="text-center mt-10"> <b>Privacy Policy </b></h1> <br><br>
    <p> <i><b> Last updated: 06-18-2023 </b></i></p> <br>
    <p>At Nnet, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy explains how we collect, use, and disclose your personal data when you use our website and services. By accessing or using Nnet, you consent to the collection, storage, and processing of your personal information as described in this Privacy Policy.</p>
    <br>

    <ol class="ml-16">
      <li>
        <h2 class="text-"><b> Information We Collect</b></h2> 
        <ol class="ml-16">
          <li> <b>Personal Information: </b> When you sign up for an account on Nnet, we may collect personal information, including but not limited to your name, email address, and ZIP code.</li>
          <li>Usage Information: We may collect information about your usage of Nnet, such as your interactions with the platform, posts, messages, and other content you access or create.</li>
          <li>Device Information: We may collect information about the device you use to access Nnet, including your device type, operating system, IP address, and browser information.</li>
        </ol>
      </li>

      <li>
        <h2> <b>Use of Information </b></h2>
        <ol class="ml-16">
          <li>We use the collected information to provide and improve our services, personalize your experience on Nnet, communicate with you, and respond to your inquiries.</li>
          <li>We may use your email address to send you important updates, announcements, or promotional offers related to Nnet. You can opt-out of receiving promotional emails at any time.</li>
          <li>We may use aggregated and anonymized data for statistical and analytical purposes to understand user behavior and preferences, and to improve our services.</li>
        </ol>
      </li>

      <li>
        <h2> <b>Data Retention </b></h2>
        <ol class="ml-16">
          <li>We retain your personal information for as long as necessary to fulfill the purposes outlined in this Privacy Policy, unless a longer retention period is required or permitted by law.</li>
          <li>If you wish to delete your account and personal information from Nnet, please contact us using the information provided below. Please note that some information may be retained in our backups for a limited period of time.</li>
        </ol>
      </li>

      <li>
        <h2> <b>Sharing of Information </b></h2>
        <ol class="ml-16">
          <li>We do not sell, trade, or rent your personal information to third parties without your consent, except as described in this Privacy Policy.</li>
          <li>We may share your personal information with trusted third-party service providers who assist us in operating and improving Nnet. These service providers are bound by confidentiality agreements and are prohibited from using your personal information for any other purpose.</li>
          <li>We may disclose your personal information if required to do so by law, or in response to a valid legal request or order from a government or regulatory authority.</li>
        </ol>
      </li>

      <li>
        <h2> <b>Security </b></h2>
        <ol class="ml-16">
          <li>We take reasonable measures to protect your personal information from unauthorized access, disclosure, alteration, or destruction. However, please note that no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.</li>
        </ol>
      </li>

      <li>
        <h2> <b>Children's Privacy </b></h2>
        <ol class="ml-16">
          <li>Nnet is not intended for children under the age of 13. We do not knowingly collect personal information from children under 13. If you are a parent or guardian and believe that your child has provided us with personal information, please contact us immediately. We will delete such information from our systems.</li>
        </ol>
      </li>

      <li>
        <h2> <b>Changes to the Privacy Policy </b></h2>
        <ol class="ml-16">
          <li>We may update this Privacy Policy from time to time to reflect changes in our practices or legal requirements. We will notify you of any material changes by posting the updated Privacy Policy on our website or through other communication channels.</li>
        </ol>
      </li>

      <li>
        <h2> <b>Contact Us </b></h2>
        <ol class="ml-16">
          <li>If you have any questions, concerns, or requests regarding this Privacy Policy or the handling of your personal information, please contact us at [Contact Information].</li>
        </ol>
      </li>

    </ol>
    <p> We value your privacy and appreciate your trust in using Nnet. </p>
    <br><br><br><br><br><br><br><br>
  </div>