<div class="flex flex-col text-justify ml-80 mr-80">

    <h1 class="text-center mt-10"> <b> About Us </b></h1> <br><br>
    <p> <i><b> Last updated: 06-18-2023 </b></i></p> <br>
    <p>Welcome to Nnet, your neighborhood social media app!</p>
    <br>

    <ol class="ml-16">
      <li>
        <h2 class="text-"><b> Goal</b></h2> 
        <ol class="ml-16">
        <li>At Nnet, we believe that strong communities are built on connections, and our platform aims to bring people together in their local neighborhoods. Our mission is to create a digital space where neighbors can connect, share information, and build meaningful relationships.</li>
        <li>Whether you're looking for recommendations for local businesses, organizing community events, or simply wanting to engage with your neighbors, Nnet provides the perfect platform to do so. Our user-friendly interface and intuitive features make it easy to connect with your neighborhood and stay informed about what's happening around you.</li>
        </ol>
      </li>

      <li>
        <h2> <b>Key features of Nnet: </b></h2>
        <ol class="ml-16">
            <li>Neighborhood-specific newsfeed: Stay up-to-date with posts, announcements, and events from your local community.</li>
            <li>Local business recommendations: Discover and share recommendations for restaurants, shops, services, and more in your neighborhood.</li>
            <li>Community groups: Join or create groups based on shared interests, hobbies, or local initiatives.</li>
            <li>Private messaging: Connect with your neighbors through private messages for more personal interactions.</li>
            <li>Events calendar: Explore and RSVP to community events happening in your neighborhood.</li></ol>
      </li>
      <li>
        <h2> <b>Key features of Nnet: </b></h2>
        <ol class="ml-16">
            <li>At Nnet, we prioritize privacy and data security. We are committed to protecting your personal information and ensuring a safe and trusted environment for all users.</li>
            <li> Join Nnet today and start connecting with your neighbors and building a stronger community!</li>
            </ol>
            
      </li>
      </ol>
    <br><br><br><br><br><br><br><br>
  </div>