<div class="flex flex-col min-h-screen">
    <app-navbar> </app-navbar>
    

    <div class="flex-grow">
        <router-outlet></router-outlet>
    </div>

    <footer>
        <div class="row">
        <ul>
            <li class="hover:underline hover:underline-offset-4"> <a routerLink="/about"> About us </a></li>
            <li class="hover:underline hover:underline-offset-4"> <a routerLink="/privacyPolicy">Privacy Policy </a></li>
            <li class="hover:underline hover:underline-offset-4"> <a routerLink="/termsNconditions">Terms & Conditions </a></li>
        </ul>
        </div>

    <div class="row">
        Nnet Copyright © 2023 Nnet - All rights reserved || Designed By: Henok 
    </div>
    </footer>

</div>