<div class="card-container">
  <!-- left-card -->
  <div class="box card-wrapper_1">
    <div class="side-nav">
      <ul class="sidebar-menu">
        
        <li><button mat-button class="transi hover: ease-out hover:scale-110 duration-300" (click)="homeButtonClick()">Nnet</button></li>

        <li><button mat-button class="transi hover: ease-out hover:scale-110 duration-300" (click)="feedButtonClick()">Feed</button></li>

        <li><button mat-button class="transi hover: ease-out hover:scale-110 duration-300" (click)="postButtonClick()">Post</button></li>

        <li><button mat-button class="transi hover: ease-out hover:scale-110 duration-300" (click)="profileButtonClick()">Profile</button></li>

        <br><br><br><br><br><br><br><br>
        <li><button class="bg-black px-3 py-1 text-white rounded-md shadow-xl transi hover: ease-out hover:scale-110 duration-300" (click)="logoutButtonClick()">Logout</button></li>
        
        
      </ul>
    </div>
 
  </div>
</div>
