<div class="card-container">
  <!-- left-card -->
  <div class="box card-wrapper_1">
    <div class="side-nav">
      <ul class="sidebar-menu">
        <li><button mat-button routerLink="/" class="transi hover: ease-out hover:scale-110 duration-300">Home</button></li>
        <li><button mat-button routerLink="/profile" class="transi hover: ease-out hover:scale-110 duration-300">Profile</button></li>
        <li><button mat-button routerLink="/post" class="transi hover: ease-out hover:scale-110 duration-300">Post</button></li>
        <li><button mat-button routerLink="/feed" class="transi hover: ease-out hover:scale-110 duration-300">Feed</button></li>
        <br><br><br><br><br><br><br><br>
        <li class="hover:underline hover:underline-offset-4 transi hover: ease-out hover:scale-110 duration-300"><a routerLink="/login">Logout</a></li>
        
      </ul>
    </div>
 
  </div>
</div>
